<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/style.css" />
    <title>Central Library</title>
  </head>
  <body>
    <div class="navbar">
        <h1>Central library</h1>
        <ul class="list">
                <a href="/">Home</a>
                <!-- <a href="/user/login">Login</a>
                <a href="/user/register">Register</a> -->
                <!-- <a href="/book/:id/return">Return Book</a> -->
                <nav class="navbar">
                  <a href="#" class="navbar-brand">
                      <img src="https://th.bing.com/th/id/OIP.BE6b6xooXi08umySpYxYvQAAAA?rs=1&pid=ImgDetMain" alt="">
                     <%= username %>
                  </a>
              </nav>
        </ul>
    </div>

    <div class="main">
        <a href="/books">All books</a>
        <a href="/books/issued">Issued books</a>
        <a href="/books/returned">Returned books</a>
    </div>

    <div class="cards">
      <div class="c1">
        <img src="http://these-realms.com/images/to-kill-a-mockingbird.png" alt="">
      </div>
      <div class="c1">
        <img src="https://m.media-amazon.com/images/I/71KztWdDVEL._SL1200_.jpg" alt="">
      </div>
      <div class="c1">
        <img src="https://m.media-amazon.com/images/I/61ZewDE3beL._SY466_.jpg" alt="">
      </div>
      <div class="c1">
        <img src="https://m.media-amazon.com/images/I/715lBsaI4sL._SL1500_.jpg" alt="">
      </div>
      <div class="c1">
        <img src="https://m.media-amazon.com/images/I/61xwx1cfbOL._SL1200_.jpg" alt="">
      </div>
      
    </div>
    
    
    
    
    

    <script src="script.js"></script>
  </body>
</html>
