<div class="navbar">
    <h1>Central library</h1>
    <ul class="list">
            <!-- <a href="/">Home</a> -->
            <a href="/user/login">Login</a>
            <a href="/user/register">Register</a>
            <a href="/user/logout">Logout</a>
            <!-- <a href="/book/:id/return">Return Book</a> -->
            <nav class="navbar">
              <a href="#" class="navbar-brand">
                  <img src="https://th.bing.com/th/id/OIP.BE6b6xooXi08umySpYxYvQAAAA?rs=1&pid=ImgDetMain" alt="">
                 Guest 
              </a>
          </nav>
    </ul>
</div>