<div class="navbar">
    <h1>Central library</h1>
    <ul class="list">
            <!-- <a href="/">Home</a> -->
             
            <a href="/user/login">Login</a>
            <a href="/user/register">Register</a>
            <a href="/user/logout">Logout</a>
    </ul>
</div>